In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Policarpo,PH,2022-01-25 19:15:12,12.1791,125.5072,77.04,93,100,13.49
1,1,Guadalajara,MX,2022-01-25 19:12:36,20.6667,-103.3333,71.37,45,40,1.99
2,2,Cape Town,ZA,2022-01-25 19:10:37,-33.9258,18.4232,68.34,70,0,8.01
3,3,Rikitea,PF,2022-01-25 19:15:12,-23.1203,-134.9692,78.58,73,100,19.10
4,4,Carnarvon,AU,2022-01-25 19:15:13,-24.8667,113.6333,75.27,83,40,17.27

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

#### ??? This figure doesn't show up

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temps], 
                                 dissipating=False, max_intensity=300, point_radius=4)


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna(how='any')
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Policarpo,PH,2022-01-25 19:15:12,12.1791,125.5072,77.04,93,100,13.49
3,3,Rikitea,PF,2022-01-25 19:15:12,-23.1203,-134.9692,78.58,73,100,19.10
4,4,Carnarvon,AU,2022-01-25 19:15:13,-24.8667,113.6333,75.27,83,40,17.27
9,9,Kapaa,US,2022-01-25 19:15:14,22.0752,-159.3190,75.52,83,0,9.22
14,14,Souillac,MU,2022-01-25 19:15:15,-20.5167,57.5167,77.38,73,40,11.50
15,15,Puerto Ayora,EC,2022-01-25 19:15:16,-0.7393,-90.3518,84.16,76,76,8.77
21,21,Sao Filipe,CV,2022-01-25 19:15:17,14.8961,-24.4956,77.13,62,3,6.49
22,22,Vaini,TO,2022-01-25 19:15:18,-21.2000,-175.2000,79.83,70,45,15.75
24,24,Atuona,PF,2022-01-25 19:15:18,-9.8000,-139.0333,77.97,73,4,18.52
30,30,Kahului,US,2022-01-25 19:15:20,20.8947,-156.4700,75.22,80,40,21.85

In [18]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [19]:
preferred_cities_df.notnull().sum()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0   San Policarpo      PH     77.04  12.1791  125.5072
3         Rikitea      PF     78.58 -23.1203 -134.9692
4       Carnarvon      AU     75.27 -24.8667  113.6333
9           Kapaa      US     75.52  22.0752 -159.3190
14       Souillac      MU     77.38 -20.5167   57.5167
15   Puerto Ayora      EC     84.16  -0.7393  -90.3518
21     Sao Filipe      CV     77.13  14.8961  -24.4956
22          Vaini      TO     79.83 -21.2000 -175.2000
24         Atuona      PF     77.97  -9.8000 -139.0333
30        Kahului      US     75.22  20.8947 -156.4700

In [23]:
####### 6.5.4


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#requests.get('base URL', params=parameters)

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}