## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
%matplotlib notebook
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Ushuaia,AR,53.26,broken clouds,-54.8000,-68.3000,Albatross Hotel
1,2,Imeni Poliny Osipenko,RU,-16.33,overcast clouds,52.4201,136.4853,Yubileynaya
2,3,Busselton,AU,64.09,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,4,Port Elizabeth,ZA,73.69,few clouds,-33.9180,25.5701,39 On Nile Guest House
4,5,Bluff,NZ,50.81,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [3]:
#In Steps 2-4, copy or refactor the code from Steps 11a-b of Deliverable 2 to create a 
#marker layer map of the vacation search results.
vacation_df.replace('', np.nan)

vacation_df.isnull().sum()

City_ID                0
City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [4]:
variable = vacation_df.to_numpy()

In [5]:
variable[0]

array([1, 'Ushuaia', 'AR', 53.26, 'broken clouds', -54.8, -68.3,
       'Albatross Hotel'], dtype=object)

In [6]:
other = [(x[5],x[6]) for x in variable]
other

[(-54.8, -68.3),
 (52.4201, 136.4853),
 (-33.65, 115.3333),
 (-33.918, 25.5701),
 (-46.6, 168.3333),
 (-41.8697, -73.8203),
 (19.7297, -155.09),
 (-0.6, 73.0833),
 (-42.8794, 147.3294),
 (20.8624, 92.3058),
 (-21.2078, -159.775),
 (-46.1927, 168.8643),
 (18.7333, -103.6833),
 (-22.9661, -42.0278),
 (47.0667, 51.8667),
 (65.6145, -37.6368),
 (43.5983, 73.7614),
 (38.5167, -28.7),
 (65.8167, 87.9833),
 (-6.9811, -34.8339),
 (-37.8333, 140.7667),
 (72.7868, -56.1549),
 (-34.5322, 20.0403),
 (3.0707, 172.7902),
 (32.3754, 15.0925),
 (42.7762, -9.0603),
 (22.0752, -159.319),
 (-23.1203, -134.9692),
 (55.6428, 95.4522),
 (62.456, -114.3525),
 (-6.7167, 32.0667),
 (59.7035, 30.7861),
 (41.7597, 86.1469),
 (-16.4833, -151.75),
 (69.2167, -51.1),
 (69.4541, -133.0374),
 (17.0151, 54.0924),
 (57.0186, 82.0711),
 (69.7008, 170.3133),
 (-33.9258, 18.4232),
 (54.2996, 59.4521),
 (-30.0319, -70.7081),
 (34.0372, -4.9998),
 (47.6666, -52.7314),
 (-2.8833, 108.2667),
 (-3.6837, 39.8566),
 (42.097, -79.2353),
 (10.3999, 5.4695),
 (-42.7826, 147.0587),
 (71.2906, -156.7887),
 (-22.2958, -44.9347),
 (20.8947, -156.47),
 (-10.8344, -38.5358),
 (42.2506, -75.833),
 (-10.0681, -78.1522),
 (38.8876, -76.5119),
 (7.9986, 124.2928),
 (47.1666, -55.1483),
 (-30.1811, -50.2056),
 (-23.85, 151.25),
 (-15.1961, 12.1522),
 (-45.5752, -72.0662),
 (4.1363, 96.1285),
 (12.0564, -61.7485),
 (57.79, -152.4072),
 (32.4487, -99.7331),
 (-21.2, -175.2),
 (60.7522, -137.5108),
 (43.2128, -75.4557),
 (-38.0023, -57.5575),
 (-20.4081, 57.7),
 (-34.6667, -54.9167),
 (21.4612, -71.1419),
 (-19.55, 169.2667),
 (33.7667, 130.4667),
 (14.6937, -17.4441),
 (2.1006, 102.7994),
 (68.2191, -135.0107),
 (60.5544, -151.2583),
 (71.6872, 128.8694),
 (14.3122, 121.1114),
 (26.326, 43.975),
 (46.6166, 10.7002),
 (22.8909, -109.9124),
 (30.5788, -97.8531),
 (1.4451, 125.1824),
 (-3.432, 10.6554),
 (-53.15, -70.9167),
 (17.5167, -101.2667),
 (-3.2778, -39.2689),
 (38.4832, -122.3344),
 (69.3, 139.9),
 (35.9911, -106.0806),
 (51.064, -0.3272),
 (-28.8667, 153.5667),
 (11.2833, -15.8333),
 (-35.3333, -72.4167),
 (-5.9475, 29.1947),
 (11.5, 42.5),
 (-9.8, -139.0333),
 (34.3834, -86.3333),
 (-34.0033, 24.7314),
 (40.973, -117.7357),
 (-46.2817, 169.8464),
 (38.9342, 100.4517),
 (-6.1349, 12.3689),
 (59.6425, -151.5483),
 (-24.7911, -50.0119),
 (38.7333, -27.0667),
 (-15.6383, -71.6011),
 (-22.2167, 30.0),
 (-9.8756, -56.0861),
 (58.9218, 24.45),
 (20.931, -17.0347),
 (63.7256, 8.834),
 (64.8378, -147.7164),
 (-34.7333, 135.8667),
 (5.6592, -53.7767),
 (-19.8, -174.35),
 (-2.9248, -39.9167),
 (45.5234, -122.6762),
 (33.8464, -118.0467),
 (71.9667, 102.5),
 (14.8961, -24.4956),
 (64.8569, -147.8028),
 (55.7435, -97.8558),
 (46.4333, 26.4),
 (7.5264, -12.505),
 (51.55, -9.2667),
 (-20.5167, 57.5167),
 (37.7167, -25.4333),
 (66.8333, 70.8333),
 (10.5669, 72.642),
 (54.7167, 158.6167),
 (52.4503, 64.6311),
 (-28.7667, 114.6),
 (-34.4187, 19.2345),
 (-37.6167, -73.65),
 (51.3813, 1.3862),
 (-25.2406, 130.9889),
 (-23.1322, -64.326),
 (68.75, 161.3),
 (-0.7393, -90.3518),
 (7.7669, -72.225),
 (4.9247, 6.2642),
 (-20.7833, 165.2333),
 (25.0213, 37.2685),
 (55.7503, 38.0042),
 (35.222, -101.8313),
 (77.484, -69.3632),
 (31.953, 12.0261),
 (37.4636, -122.4286),
 (-8.7539, -38.9658),
 (40.5982, -124.1573),
 (-45.8667, -67.5),
 (-30.3833, 153.1),
 (-17.2222, -46.8747),
 (45.3167, 55.2),
 (30.153, -85.5699),
 (-33.8667, 121.9),
 (54.4333, 113.6),
 (38.4167, 77.2406),
 (63.8567, 57.3094),
 (-16.1167, 23.2667),
 (-33.6971, -53.4616),
 (22.9333, 57.5333),
 (54.7183, 135.315),
 (-7.7667, 35.7),
 (41.3712, -73.414),
 (-23.7, 133.8833),
 (-3.8004, 102.2655),
 (-15.7504, 26.4384),
 (-5.1989, -35.4608),
 (-21.5667, 165.4833),
 (5.4112, 100.3354),
 (-20.2078, 57.7625),
 (45.3929, 47.3707),
 (40.8021, -124.1637),
 (50.2001, -66.3821),
 (31.6682, 20.2521),
 (33.6416, 42.8251),
 (-2.0226, 147.2712),
 (22.2855, 114.1577),
 (28.017, -97.5169),
 (-24.8667, 113.6333),
 (-38.2667, 141.9667),
 (4.4148, 114.0089),
 (63.2842, 118.3319),
 (62.5833, 6.1333),
 (24.4667, 54.3667),
 (36.365, 6.6147),
 (63.7506, -68.5145),
 (-33.5906, 26.891),
 (5.4112, 100.3354),
 (-38.5473, -58.7368),
 (46.8, 0.5333),
 (37.05, 140.8833),
 (22.8134, 115.8257),
 (18.3851, 42.4509),
 (43.9098, 67.2495),
 (-3.4167, 114.85),
 (15.1333, -23.2167),
 (62.2266, -6.589),
 (39.05, -27.9833),
 (-32.4075, -63.2402),
 (-38.9516, -68.0591),
 (36.6167, 101.7667),
 (-2.9022, -40.8411),
 (63.4427, -20.2734),
 (42.748, -4.2068),
 (-43.5333, 172.6333),
 (-3.2003, -59.8119),
 (48.0056, 91.6419),
 (-35.1, 173.7833),
 (-20.3428, 57.7575),
 (41.3165, -73.0932),
 (4.8517, 31.5825),
 (65.441, 52.1498),
 (44.6714, -103.8522),
 (-28.6606, -56.0044),
 (-8.7619, -63.9039),
 (-33.0153, 27.9116),
 (39.5994, -110.8107),
 (15.85, -97.0667),
 (-11.2061, 13.8437),
 (2.1833, 22.4667),
 (30.634, 117.8517),
 (-10.1667, 123.5833),
 (26.3544, 127.8686),
 (30.8327, -83.2785),
 (67.6803, 53.1512),
 (39.9523, -75.1638),
 (50.677, 36.5532),
 (22.2833, 81.7333),
 (9.9658, 98.6348),
 (46.3834, -82.6331),
 (26.1842, 127.7558),
 (-30.3, 153.1333),
 (20.0458, 110.3417),
 (20.9, 70.3667),
 (-45.8742, 170.5036),
 (18.4167, -64.6167),
 (51.735, 39.1496),
 (-33.0117, 17.9442),
 (-0.8667, 134.0833),
 (-17.8786, 36.8883),
 (33.9674, 36.6574),
 (78.2186, 15.6401),
 (33.7333, 135.9833),
 (-0.9492, 100.3543),
 (31.2565, 32.2841),
 (19.2056, -69.3369),
 (-12.2333, 136.7667),
 (28.2333, 83.9833),
 (34.8014, -106.5436),
 (-21.2167, 48.3333),
 (-2.8856, -40.12),
 (28.3667, 129.4833),
 (62.6946, 25.818),
 (37.4, 136.9),
 (31.7093, -98.9912),
 (5.4033, 125.4636),
 (30.4397, 48.1664),
 (68.0546, 166.4372),
 (60.1432, -45.2371),
 (-20.5167, 47.25),
 (-32.5833, 151.7833),
 (43.5945, -83.8889),
 (41.2835, -70.0995),
 (60.9167, -46.05),
 (54.3419, 101.5036),
 (49.9811, 92.0667),
 (4.375, -7.7169),
 (-23.865, 35.3833),
 (20.4833, 82.9167),
 (-21.3585, 55.7679),
 (69.3143, 16.1194),
 (-16.9167, 145.7667),
 (29.5581, 34.9482),
 (-46.1333, 167.6833),
 (-45.4167, 167.7167),
 (35.1478, -114.5683),
 (-11.3847, 43.2844),
 (63.05, 179.3167),
 (68.6949, 15.4162),
 (34.6391, -120.4579),
 (17.6129, 99.2161),
 (-34.0527, 23.3716),
 (-1.7625, -48.8043),
 (32.6667, -17.1),
 (58.0006, 102.6619),
 (-0.3582, 42.5454),
 (-2.7619, -42.2744),
 (6.1241, 81.1185),
 (51.3297, 8.0071),
 (-44.7, 169.15),
 (32.5341, 20.5791),
 (50.6789, 156.125),
 (21.3469, -158.0858),
 (50.7214, 136.6319),
 (32.9947, 112.5328),
 (6.189, -67.4859),
 (50.6996, -127.4199),
 (-2.5744, 150.7967),
 (14.1646, 38.8955),
 (-19.8, -63.2167),
 (61.9875, 5.1352),
 (-15.8631, -38.8828),
 (40.8333, -6.0),
 (70.4692, -68.5914),
 (-0.95, -80.7333),
 (44.5263, -109.0565),
 (13.2167, -59.5167),
 (33.0833, -16.3333),
 (39.7432, 98.5174),
 (66.7697, 123.3711),
 (-2.2717, 40.902),
 (41.5678, 35.9069),
 (47.8667, 88.1167),
 (10.9995, 122.6711),
 (35.6003, 103.2064),
 (-6.2167, 155.6333),
 (58.8053, -122.7002),
 (37.1041, -113.5841),
 (-14.6585, 17.691),
 (-6.0911, -35.2086),
 (-34.2, 142.15),
 (60.8156, -115.7999),
 (-20.2833, 44.2833),
 (-35.1667, 173.1667),
 (-14.6569, 28.0706),
 (11.1373, 123.7228),
 (-38.3833, 142.4833),
 (58.9564, 126.2925),
 (12.1791, 125.5072),
 (-18.4733, -47.2003),
 (68.8193, -51.1922),
 (66.1451, -65.7125),
 (-20.1, 146.2667),
 (58.6031, 125.3894),
 (28.6585, -17.9182),
 (31.9286, 70.4592),
 (32.4488, -81.7832),
 (69.3833, 178.4167),
 (-14.2426, 31.3253),
 (33.7445, -118.387),
 (-6.8367, -79.9342),
 (54.3161, -130.3201),
 (-13.7, -76.2167),
 (47.9714, 80.4392),
 (51.1507, 108.921),
 (64.8945, -23.7142),
 (5.6, 27.4667),
 (55.1001, -105.2842),
 (-9.8607, 124.284),
 (-35.7167, 150.1833),
 (57.6409, 18.296),
 (9.55, -79.65),
 (46.844, 74.9804),
 (5.3848, 95.9609),
 (-7.125, -34.9322),
 (-17.7125, -39.2481),
 (55.3121, 76.7647),
 (65.282, -126.8329),
 (25.5198, 90.2201),
 (45.1667, 10.7833),
 (50.1001, -91.917),
 (13.2833, -88.55),
 (10.3333, 98.8333),
 (-20.3167, 118.5667),
 (-18.5278, 32.1284),
 (63.9333, 31.65),
 (43.7501, -81.7165),
 (11.6667, 92.75),
 (46.1711, 45.3435),
 (12.1694, -83.0418),
 (37.3394, -121.895),
 (62.7191, 32.727),
 (55.5284, 70.3385),
 (69.4865, 88.3972),
 (-20.2333, 164.0167),
 (-20.0064, 57.6608),
 (-12.0667, 134.2667),
 (38.421, -121.4238),
 (66.7131, 27.4306),
 (49.3826, 27.6305),
 (-21.6403, -41.0511),
 (-14.2667, 50.1667),
 (7.9803, 49.8164),
 (21.4022, -157.7394),
 (12.7794, 45.0367),
 (70.3705, 31.1107),
 (44.804, 20.4651),
 (22.5667, 59.5289),
 (-3.6667, 152.4333),
 (43.213, -8.691),
 (16.5833, 82.0167),
 (-19.0595, -169.9187),
 (9.75, -63.1767),
 (28.419, 30.7792),
 (38.5144, 68.2333),
 (52.634, -1.6959),
 (51.338, 26.6019),
 (40.1629, -8.3327),
 (49.2833, 120.7333),
 (19.7667, 74.4833),
 (10.3997, -75.5144),
 (-8.103, 156.8419),
 (50.0334, -66.8654),
 (49.1447, 56.4872),
 (-32.9468, -60.6393),
 (-30.7414, 30.455),
 (-34.6177, -68.3301),
 (40.7821, 72.3442),
 (-13.275, -50.1628),
 (-41.45, 147.1667),
 (5.0314, 25.1361),
 (12.7194, 74.8861),
 (52.6768, -113.5815),
 (48.2156, 18.6071),
 (13.7667, 109.2333),
 (39.4735, -118.7774),
 (-6.8844, 112.2051),
 (60.25, 24.6667),
 (42.8333, 1.5833),
 (34.1667, 77.5833),
 (43.3236, 145.575),
 (35.7333, 140.8333),
 (17.4924, 44.1277),
 (34.9833, 139.8667),
 (-3.7508, 103.6372),
 (59.4511, 112.5578),
 (64.5011, -165.4064),
 (12.5847, -81.7006),
 (-7.3333, -75.0167),
 (39.7008, 122.9911),
 (-20.7333, 139.5),
 (64.75, 177.4833),
 (38.3906, 35.4922),
 (37.7667, -25.7),
 (52.1415, -122.1445),
 (37.7528, -100.0171),
 (4.9333, -52.3333),
 (-1.5746, 9.2618),
 (39.1834, -84.5333),
 (-31.6529, -64.4283),
 (3.7833, 72.9667),
 (-21.3393, 55.4781),
 (-15.7667, 128.7333),
 (-16.7333, -151.4333),
 (47.5833, 126.0833),
 (-0.9131, 122.8766),
 (-8.7676, 160.7034),
 (44.3525, 143.3525),
 (48.6499, -53.1147),
 (44.0787, -80.2041),
 (41.0308, 39.0031),
 (38.7666, -120.5177),
 (-34.4833, -54.3333),
 (29.5833, 80.2167),
 (-20.7377, 116.8463),
 (48.2853, 4.0521),
 (-2.9506, 12.7261),
 (44.6453, -63.5724),
 (-28.65, 153.6167),
 (-4.1997, 12.6739),
 (33.4504, -88.8184),
 (-2.6833, 111.6167),
 (29.9737, 32.5263),
 (34.5686, 105.8933),
 (42.0189, -87.8028),
 (26.25, 105.9333),
 (4.25, -54.3833),
 (55.3494, 12.2338),
 (62.6323, 17.9379),
 (36.3, 139.8),
 (-9.0122, -35.2225),
 (24.8333, -100.0667),
 (30.1897, -82.6393),
 (25.6989, 32.6421),
 (63.1792, 14.6357),
 (-16.6228, -72.7111),
 (33.8973, 48.7516),
 (51.0333, -4.2167),
 (42.3876, 46.9651),
 (2.8197, -60.6733),
 (13.5859, 102.9737),
 (13.1809, 32.74),
 (23.2167, -106.4167),
 (43.2686, -7.5406),
 (39.0211, 117.6469),
 (39.6957, 113.6871),
 (20.7141, 70.9822),
 (47.0279, 8.6561),
 (37.4695, -105.87),
 (20.5169, -13.0499),
 (5.5577, 95.3222),
 (56.0901, 56.5783),
 (18.7369, 7.3853),
 (50.4592, 48.1431),
 (-18.5067, -54.76),
 (54.549, -3.5841),
 (-22.6667, 167.4833),
 (35.3, 70.8333),
 (46.5586, 131.4244),
 (21.6967, -78.6328),
 (18.9333, -97.1333),
 (45.0205, -93.218),
 (-20.3297, -40.2925),
 (-5.8092, -61.3003),
 (-26.6167, -54.1333),
 (-5.6667, 132.75),
 (53.5667, 7.7833),
 (47.674, -122.1215),
 (5.3505, 48.5268),
 (39.2504, -76.933),
 (54.7169, -113.2854),
 (56.45, 138.1667),
 (64.2539, -15.2082),
 (-19.6094, 34.7431),
 (-33.1833, 138.0167),
 (61.2181, -149.9003),
 (63.6445, 54.856),
 (-16.3494, -53.7583),
 (-19.5836, -65.7531),
 (-10.4056, -36.4344),
 (-3.3667, 135.4833),
 (-8.0089, -34.8553),
 (61.994, -49.6678),
 (62.1564, -7.1664),
 (28.0177, -82.5062),
 (56.2501, -117.286),
 (57.0531, -135.33),
 (-23.35, 47.6),
 (54.7682, -101.865),
 (28.5833, 65.4167),
 (67.667, 12.6934),
 (41.6892, 122.1128),
 (9.5334, 31.6605),
 (51.1494, -100.0502),
 (-34.6833, 150.8667),
 (36.0397, -114.9819),
 (52.9785, 13.3317),
 (28.0996, -16.681),
 (45.0503, 136.6092),
 (-12.7887, 45.2699),
 (39.2807, -80.3445),
 (4.2323, 100.6298),
 (35.3144, 46.9923),
 (60.3725, 93.0408),
 (24.4833, 72.7833),
 (65.8522, 44.24),
 (42.0304, -8.1588),
 (60.1247, 64.7758),
 (39.2446, 55.5154),
 (35.1333, 140.3),
 (29.0331, 21.5482),
 (-23.6752, 22.7876),
 (-20.4167, -63.2833),
 (58.1286, 68.5944),
 (6.9833, 35.5833),
 (60.3964, -1.353),
 (11.2529, -85.8705),
 (35.8881, -106.307),
 (49.4778, 20.0323),
 (-32.6259, -62.6887),
 (-21.6989, -57.8825),
 (29.2497, 117.8547),
 (1.1667, 108.9667),
 (37.7333, -25.6667),
 (49.0333, 104.0833),
 (18.5001, -69.9886),
 (-29.9533, -71.3436),
 (63.4453, 120.3167),
 (-24.2478, -51.6847),
 (30.0754, 71.1921),
 (4.3511, -72.4564),
 (-3.8881, -59.0942),
 (66.8014, 65.8081),
 (-23.5333, 148.1667),
 (5.9485, 80.5353),
 (21.5667, 74.2167),
 (-22.092, -70.1979),
 (67.6713, 53.087),
 (5.8808, -10.0467),
 (-15.2261, -59.3353),
 (29.9697, 40.2064),
 (-12.7761, 15.7392),
 (41.4635, 48.806),
 (30.4833, -115.95),
 (8.1222, -63.5497),
 (49.7104, 35.1603),
 (20.7, -105.2),
 (25.7, 100.1833),
 (8.0667, 122.5167),
 (37.15, 122.3833),
 (56.5502, 57.1366),
 (61.1121, 28.8632),
 (36.3231, -86.7133),
 (32.1, 74.8833),
 (62.6667, 135.6),
 (66.0317, 60.1659),
 (6.6221, 73.07),
 (64.7001, 43.3936),
 (43.5692, -7.2544),
 (-23.65, -70.4),
 (43.4832, -8.2369),
 (8.0563, -1.7306),
 (-0.7167, -48.5233),
 (-4.8828, -66.8958),
 (-34.5833, 150.8552),
 (37.4564, 118.4856),
 (47.3087, -122.0032),
 (42.7448, 12.7374),
 (58.3902, 45.4654),
 (-1.7426, 37.1294),
 (19.2833, -81.25),
 (48.6814, 71.6433),
 (51.7075, -8.5306),
 (27.55, 80.2833),
 (4.7059, -74.2302)]

In [7]:
clean_hotel_df = vacation_df.copy()

In [8]:
clean_hotel_df = clean_hotel_df.drop('City_ID', axis=1)

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [10]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
base_city = "Bereda"
city_1 = "Foz"
city_2 = "Ferrol"
city_3 = "Carballo"


vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == city_1]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == city_2] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == city_3]

In [12]:


vacation_start

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
489,Bereda,ES,51.55,clear sky,43.2686,-7.5406,Pazo de Verdes

In [13]:
trip = pd.merge(vacation_start, vacation_stop1, how = 'outer')

trip

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bereda,ES,51.55,clear sky,43.2686,-7.5406,Pazo de Verdes
1,Foz,ES,54.93,clear sky,43.5692,-7.2544,Hotel Balcón de San Bartolo

In [14]:
trip = pd.merge(trip, vacation_stop2, how = 'outer')

In [15]:
trip = pd.merge(trip, vacation_stop3, how = 'outer')

In [16]:
trip = pd.merge(trip, vacation_end, how = 'outer')

In [17]:
trip

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bereda,ES,51.55,clear sky,43.2686,-7.5406,Pazo de Verdes
1,Foz,ES,54.93,clear sky,43.5692,-7.2544,Hotel Balcón de San Bartolo
2,Ferrol,ES,57.45,clear sky,43.4832,-8.2369,Parador de Ferrol
3,Carballo,ES,56.62,clear sky,43.2130,-8.6910,Pazo do Souto

In [18]:
trip_df = trip.to_numpy()

In [20]:
trip_df

array([['Bereda', 'ES', 51.55, 'clear sky', 43.2686, -7.5406,
        'Pazo de Verdes'],
       ['Foz', 'ES', 54.93, 'clear sky', 43.5692, -7.2544,
        'Hotel Balcón de San Bartolo'],
       ['Ferrol', 'ES', 57.45, 'clear sky', 43.4832, -8.2369,
        'Parador de Ferrol'],
       ['Carballo', 'ES', 56.62, 'clear sky', 43.213, -8.691,
        'Pazo do Souto']], dtype=object)

In [22]:
trip_tuple = [(x[4],x[5]) for x in trip_df]
trip_tuple

[(43.2686, -7.5406), (43.5692, -7.2544), (43.4832, -8.2369), (43.213, -8.691)]

In [23]:
trip_tuple[0]

(43.2686, -7.5406)

In [ ]:
trip = trip.set_index('City')

In [ ]:
trip

In [ ]:
trip.index.name = None

In [ ]:
start_lat = trip.loc[base_city, "Lat"]
start_long = trip.loc[base_city, "Lng"]
city1_lat = trip.loc[city_1, "Lat"]
city1_long = trip.loc[city_1, "Lng"]
city2_lat = trip.loc[city_2, "Lat"]
city2_long = trip.loc[city_2, "Lng"]
city3_lat = trip.loc[city_3, "Lat"]
city3_long = trip.loc[city_3, "Lng"]



start_loc = [start_lat, start_long]
city1_loc = [city1_lat, city1_long]
city2_loc = [city2_lat, city2_long]
city3_loc = [city3_lat, city3_long]

In [ ]:
directions_layer = gmaps.directions_layer(vacation_trip[0], vacation_trip[1])
directions_layer2 = gmaps.directions_layer(vacation_trip[1], vacation_trip[2])
directions_layer3 = gmaps.directions_layer(vacation_trip[2], vacation_trip[3])
# directions_layer4 = gmaps.directions_layer(city3_loc, start_loc)

# fig.add_layer(directions_layer)
# fig.add_layer(directions_layer2)
# fig.add_layer(directions_layer3)
#fig.add_layer(directions_layer4)



fig

In [ ]:
vacation_trip = [start_loc, city1_loc, city2_loc, city3_loc]

In [ ]:
city_list = [base_city, city_1, city_2, city_3, base_city]

vacation_trip[0]

In [ ]:
fig

In [ ]:
# # 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# locations
# start = pd.DataFrame({city_list[0]: [vacation_start['Lat'],vacation_start['Lng']]}).to_numpy()
# end = pd.DataFrame({city_list[4]: [vacation_end['Lat'],vacation_end['Lng']]}).to_numpy()
# stop1 = pd.DataFrame({city_list[1]: [vacation_stop1['Lat'],vacation_stop1['Lng']]}).to_numpy()
# stop2 = pd.DataFrame({city_list[2]: [vacation_stop2['Lat'],vacation_stop2['Lng']]}).to_numpy()
# stop3 = pd.DataFrame({city_list[3]: [vacation_stop3['Lat'],vacation_stop3['Lng']]}).to_numpy()

In [ ]:
# city_list

In [ ]:
# # 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# locations
# start = pd.DataFrame({city_list[0]: [vacation_start['Lat'],vacation_start['Lng']]})
# end = pd.DataFrame({city_list[4]: [vacation_end['Lat'],vacation_end['Lng']]})
# stop1 = pd.DataFrame({city_list[1]: [vacation_stop1['Lat'],vacation_stop1['Lng']]})
# stop2 = pd.DataFrame({city_list[2]: [vacation_stop2['Lat'],vacation_stop2['Lng']]})
# stop3 = pd.DataFrame({city_list[3]: [vacation_stop3['Lat'],vacation_stop3['Lng']]})

In [ ]:
# ###?????????????? Why does the top thing not work?

# #start = pd.DataFrame({vacation_start["City"]: [vacation_start["Lat"], vacation_start["Lng"]]}).to_numpy()

# start = pd.DataFrame({base_city: [vacation_start['Lat'],vacation_start['Lng']]}).to_numpy()

In [ ]:


vacation_df = pd.DataFrame({
    "Start": [vacation_start['Lat'], vacation_start['Lng']], 
    "End": [vacation_end['Lat'], vacation_end['Lng']],
    "Stop1": [vacation_stop1['Lat'], vacation_stop1['Lng']], 
    "Stop2": [vacation_stop2['Lat'], vacation_stop2['Lng']], 
    "Stop3": [vacation_stop3['Lat'], vacation_stop3['Lng']]
}).to_numpy()

In [ ]:
vacation_df[0]

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


# s_1 = gmaps.directions_layer(, )

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure