## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
%matplotlib notebook
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Ushuaia,AR,53.26,broken clouds,-54.8000,-68.3000,Albatross Hotel
1,2,Imeni Poliny Osipenko,RU,-16.33,overcast clouds,52.4201,136.4853,Yubileynaya
2,3,Busselton,AU,64.09,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,4,Port Elizabeth,ZA,73.69,few clouds,-33.9180,25.5701,39 On Nile Guest House
4,5,Bluff,NZ,50.81,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [3]:
clean_hotel_df = vacation_df.copy()

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [50]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
base_city = "Pisco"
city_1 = "Pimentel"
city_2 = "Huarmey"
city_3 = "Contamana"

vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == city_1]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == city_2] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == city_3] 

vacation_start["Lat"]

348   -13.7
Name: Lat, dtype: float64

In [39]:
vacation = {
    "Start": [vacation_start['Lat'], vacation_start['Lng']], 
    "End": [vacation_end['Lat'], vacation_end['Lng']],
    "Stop1": [vacation_stop1['Lat'], vacation_stop1['Lng']], 
    "Stop2": [vacation_stop2['Lat'], vacation_stop2['Lng']], 
    "Stop3": [vacation_stop3['Lat'], vacation_stop3['Lng']]
}

In [48]:
vacation_otherway = {
    "Start": [vacation_start['Lat'], vacation_start['Lng']]
}

In [49]:
vacation_otherway

{'Start': [348   -13.7
  Name: Lat, dtype: float64,
  348   -76.2167
  Name: Lng, dtype: float64]}

In [43]:
vacation_df = pd.DataFrame(data=vacation, index=[0, 1])

In [44]:
vacation_df

,Start,End,Stop1,Stop2,Stop3
0,"348 -13.7 Name: Lat, dtype: float64","348 -13.7 Name: Lat, dtype: float64","346 -6.8367 Name: Lat, dtype: float64","54 -10.0681 Name: Lat, dtype: float64","434 -7.3333 Name: Lat, dtype: float64"
1,"348 -76.2167 Name: Lng, dtype: float64","348 -76.2167 Name: Lng, dtype: float64","346 -79.9342 Name: Lng, dtype: float64","54 -78.1522 Name: Lng, dtype: float64","434 -75.0167 Name: Lng, dtype: float64"

In [4]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

In [38]:
columns = ["City", "Lat", "Lng"]
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = pd.DataFrame(vacation_start, columns=columns)
start = start.set_index('City')
# start.to_numpy()
# end = 
# stop1 = 
# stop2 = 
# stop3 = 
print(start)

        Lat      Lng
City
Pisco -13.7 -76.2167

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure

In [ ]:
for x in (1, 2, 3): print x,