## Deliverable 3. Create a Travel Itinerary Map.

In [8]:
%matplotlib notebook
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Ushuaia,AR,53.26,broken clouds,-54.8000,-68.3000,Albatross Hotel
1,2,Imeni Poliny Osipenko,RU,-16.33,overcast clouds,52.4201,136.4853,Yubileynaya
2,3,Busselton,AU,64.09,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,4,Port Elizabeth,ZA,73.69,few clouds,-33.9180,25.5701,39 On Nile Guest House
4,5,Bluff,NZ,50.81,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [10]:
#In Steps 2-4, copy or refactor the code from Steps 11a-b of Deliverable 2 to create a 
#marker layer map of the vacation search results.
vacation_df.replace('', np.nan)

vacation_df.isnull().sum()

City_ID                0
City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [11]:
clean_hotel_df = vacation_df.copy()

In [5]:
clean_hotel_df = clean_hotel_df.drop('City_ID', axis=1)

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
base_city = "Pisco"
city_1 = "Pimentel"
city_2 = "Huarmey"
city_3 = "Contamana"

vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == city_1]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == city_2] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == city_3]

In [13]:


vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
348,379,Pisco,PE,74.01,clear sky,-13.7,-76.2167,Hotel San Isidro Oficial

In [14]:
trip = pd.merge(vacation_start, vacation_stop1, how = 'outer')

trip

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,379,Pisco,PE,74.01,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
1,377,Pimentel,PE,73.69,few clouds,-6.8367,-79.9342,Casona Del Muelle

In [15]:
trip = pd.merge(trip, vacation_stop2, how = 'outer')

In [16]:
trip = pd.merge(trip, vacation_stop3, how = 'outer')

In [17]:
trip = pd.merge(trip, vacation_end, how = 'outer')

In [18]:
trip

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,379,Pisco,PE,74.01,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
1,377,Pimentel,PE,73.69,few clouds,-6.8367,-79.9342,Casona Del Muelle
2,60,Huarmey,PE,76.51,broken clouds,-10.0681,-78.1522,Hotel Miramar
3,476,Contamana,PE,85.75,overcast clouds,-7.3333,-75.0167,Shiringal Touristic Park

In [19]:
trip = trip.set_index('City')

In [20]:
trip

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Pisco,379,PE,74.01,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
Pimentel,377,PE,73.69,few clouds,-6.8367,-79.9342,Casona Del Muelle
Huarmey,60,PE,76.51,broken clouds,-10.0681,-78.1522,Hotel Miramar
Contamana,476,PE,85.75,overcast clouds,-7.3333,-75.0167,Shiringal Touristic Park

In [21]:
trip.index.name = None

In [22]:
start_lat = trip.loc[base_city, "Lat"]
start_long = trip.loc[base_city, "Lng"]
city1_lat = trip.loc[city_1, "Lat"]
city1_long = trip.loc[city_1, "Lng"]
city2_lat = trip.loc[city_2, "Lat"]
city2_long = trip.loc[city_2, "Lng"]
city3_lat = trip.loc[city_3, "Lat"]
city3_long = trip.loc[city_3, "Lng"]



start_loc = [start_lat, start_long]
city1_loc = [city1_lat, city1_long]
city2_loc = [city2_lat, city2_long]
city3_loc = [city3_lat, city3_long]

In [23]:
directions_layer = gmaps.directions_layer(vacation_trip[0], vacation_trip[1])
directions_layer2 = gmaps.directions_layer(vacation_trip[1], vacation_trip[2])
directions_layer3 = gmaps.directions_layer(vacation_trip[2], vacation_trip[3])
# directions_layer4 = gmaps.directions_layer(city3_loc, start_loc)

fig.add_layer(directions_layer)
fig.add_layer(directions_layer2)
fig.add_layer(directions_layer3)
#fig.add_layer(directions_layer4)



fig

NameError: name 'vacation_trip' is not defined

In [24]:
vacation_trip = [start_loc, city1_loc, city2_loc, city3_loc]

In [25]:
city_list = ["Pisco", "Pimentel", "Huarmey", "Contamana", "Pisco"]

vacation_trip[0]

[-13.7, -76.2167]

In [26]:
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
locations
start = pd.DataFrame({city_list[0]: [vacation_start['Lat'],vacation_start['Lng']]}).to_numpy()
end = pd.DataFrame({city_list[4]: [vacation_end['Lat'],vacation_end['Lng']]}).to_numpy()
stop1 = pd.DataFrame({city_list[1]: [vacation_stop1['Lat'],vacation_stop1['Lng']]}).to_numpy()
stop2 = pd.DataFrame({city_list[2]: [vacation_stop2['Lat'],vacation_stop2['Lng']]}).to_numpy()
stop3 = pd.DataFrame({city_list[3]: [vacation_stop3['Lat'],vacation_stop3['Lng']]}).to_numpy()

In [ ]:
city_list

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
locations
start = pd.DataFrame({city_list[0]: [vacation_start['Lat'],vacation_start['Lng']]})
end = pd.DataFrame({city_list[4]: [vacation_end['Lat'],vacation_end['Lng']]})
stop1 = pd.DataFrame({city_list[1]: [vacation_stop1['Lat'],vacation_stop1['Lng']]})
stop2 = pd.DataFrame({city_list[2]: [vacation_stop2['Lat'],vacation_stop2['Lng']]})
stop3 = pd.DataFrame({city_list[3]: [vacation_stop3['Lat'],vacation_stop3['Lng']]})

In [ ]:
###?????????????? Why does the top thing not work?

#start = pd.DataFrame({vacation_start["City"]: [vacation_start["Lat"], vacation_start["Lng"]]}).to_numpy()

start = pd.DataFrame({base_city: [vacation_start['Lat'],vacation_start['Lng']]}).to_numpy()

In [27]:


vacation_df = pd.DataFrame({
    "Start": [vacation_start['Lat'], vacation_start['Lng']], 
    "End": [vacation_end['Lat'], vacation_end['Lng']],
    "Stop1": [vacation_stop1['Lat'], vacation_stop1['Lng']], 
    "Stop2": [vacation_stop2['Lat'], vacation_stop2['Lng']], 
    "Stop3": [vacation_stop3['Lat'], vacation_stop3['Lng']]
}).to_numpy()

In [31]:

vacation_df

array([[348   -13.7
        Name: Lat, dtype: float64, 348   -13.7
                                   Name: Lat, dtype: float64,
        346   -6.8367
        Name: Lat, dtype: float64, 54   -10.0681
                                   Name: Lat, dtype: float64,
        434   -7.3333
        Name: Lat, dtype: float64],
       [348   -76.2167
        Name: Lng, dtype: float64, 348   -76.2167
                                   Name: Lng, dtype: float64,
        346   -79.9342
        Name: Lng, dtype: float64, 54   -78.1522
                                   Name: Lng, dtype: float64,
        434   -75.0167
        Name: Lng, dtype: float64]], dtype=object)

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


# s_1 = gmaps.directions_layer(, )

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure