## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
%matplotlib notebook
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Rikitea,PF,78.04,overcast clouds,-23.1203,-134.9692,People ThankYou
1,3,Mataura,NZ,66.47,light rain,-46.1927,168.8643,Ellie's Villa
2,7,Katherine,AU,77.32,broken clouds,-14.4667,132.2667,Pine Tree Motel
3,8,Victoria,HK,61.25,overcast clouds,22.2855,114.1577,Mini Hotel Central
4,11,Bredasdorp,ZA,69.28,clear sky,-34.5322,20.0403,Bredasdorp Country Manor

In [3]:
clean_hotel_df = vacation_df.copy()

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [5]:
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig1.add_layer(marker_layer)

# 4b. Display the figure

fig1

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
base_city = "Otane"
city_1 = "Whitianga"
city_2 = "Ngunguru"
city_3 = "Okato"


vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == base_city]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == city_1]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == city_2] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == city_3]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0] 
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [8]:
fig2 = gmaps.figure(center=(-36.8, 174.8), zoom_level=6)

directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")


fig2.add_layer(directions)

fig2

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,120,Otane,NZ,69.01,overcast clouds,-39.8833,176.6333,Ludlow Farmstay
1,225,Whitianga,NZ,69.03,overcast clouds,-36.8333,175.7000,Beachside Resort Whitianga
2,77,Ngunguru,NZ,70.16,overcast clouds,-35.6167,174.5000,Pacific Rendezvous Motel Resort
3,600,Okato,NZ,67.91,overcast clouds,-39.2000,173.8833,Goodin Country Garden
4,120,Otane,NZ,69.01,overcast clouds,-39.8833,176.6333,Ludlow Farmstay

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
trip_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
trip_locations = itinerary_df[["Lat", "Lng"]]

In [11]:
trip_locations

       Lat       Lng
0 -39.8833  176.6333
1 -36.8333  175.7000
2 -35.6167  174.5000
3 -39.2000  173.8833
4 -39.8833  176.6333

In [12]:
fig3 = gmaps.figure(center=(-36.8, 174.8), zoom_level=6)

trip_marker_layer = gmaps.marker_layer(trip_locations, info_box_content=trip_info)

# 11a. Add a marker layer for each city to the map.
fig3.add_layer(trip_marker_layer)

# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))